<div class="container">
  <div class="row">
    <div class="column column-12">
      <div class="auth login">
        {{$flashes := .Flashes}}
        {{if $flashes}}
          <ul class="errors">
            {{range $flash := $flashes}}
              <li>{{$flash.Message}}</li>
            {{end}}
          </ul>
        {{end}}

        <form action="{{.AuthURL "password/login"}}" method="POST">
          <ul class="auth-form">
            <li>
              <label for="login">{{ t "login.email" }}</label>
              <input type="text" class="form-control" name="login" placeholder="{{ t "auth.login" "Login"}}" value="{{.FormValue "login"}}">
            </li>

            <li>
              <label for="password">{{ t "login.password" }}</label>
              <input type="password" class="form-control" name="password" placeholder="{{ t "auth.password" "Password"}}">
            </li>

            <li>
              <button type="submit" class="button button__primary">{{ t "auth.login" "Login" }}</button>
            </li>

            <li>
              <a href="{{.AuthURL "password/new"}}">{{ t "login.forgot password?" "Forgot Password?" }}</a>
            </li>

            <li>
              {{ t "login.Need an Account?" "Need an Account?" }}
              <a href="{{.AuthURL "register"}}">{{ t "auth.register" "Register" }}</a>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>
