<div class="container">
  <div class="row">
    <div class="column column-12">
      <div class="auth register">
        {{$flashes := .Flashes}}
        {{if $flashes}}
          <ul class="errors">
            {{range $flash := $flashes}}
              <li>{{$flash.Message}}</li>
            {{end}}
          </ul>
        {{end}}

        <form action="{{.AuthURL "database/register"}}" method="POST">
          <ul class="auth-form">
            <li>
              <label for="login">{{ t "login.email" }}</label>
              <input name="login" type="text" placeholder="{{ t "auth.login" "Login"}}" value="{{.FormValue "login"}}"/>
            </li>

            <li>
              <label for="password">{{ t "login.password" }}</label>
              <input type="password" class="form-control" name="password" placeholder="{{ t "auth.password" "Password"}}">
            </li>

            <li>
              <label for="confirm_password">{{ t "login.password_confirm"  "Confirm Password"}}</label>
              <input name="confirm_password" type="password" />
            </li>

            <li>
              <button type="submit" class="button button__primary">{{ t "auth.register" "Register" }}</button>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>
